---
layout: default
back: custombody
---
<div class="post">
  <article class="post-content fullwidth">
    <!-- <div class="price-points">
      {{content}}
    </div> -->
    <!-- <h2>Rusk Media | Subscribe </h2> -->
    <div class="contact-form form-div sub-box box-gradient-new">
      <div class="thankyou"> <br>Thank you</div>
      <div class="details">for showing interest in Mud Studio Video Platform.</div>
      <div class="details">You will be charged {{page.charge}} for {{page.duration}}.</div>
      <form id="get-otp" action="">
        <div class="phone-div">
          <label for="phonenumber">Mobile Number</label>
          <input type="number" name="phonenumber" id="phonenumber" />
        </div>
        <button class="btn btn-otp" id="requestOTPBtn" onclick="onRequestOTP(event)">Get OTP</button>
      </form>
      <form id="otp-form" hidden>
        <div id="otp-field">
          <label for="otp-input" class="mdc-floating-label">4-digit code</label>

          <input type="text" inputmode="numeric" is="web-otp" id="otp-input" autocomplete="one-time-code"
            pattern="^([0-9]+)$" required />

        </div>
        <button class="btn" onclick="verifyOTP(event)"> Verify </button>
      </form>
    </div>
    <div id="sendUserInfo"></div>
  </article>
</div>

<script src="{{ '/assets/js/customComSub.js' | prepend: site.baseurl }}"></script>

<script>



</script>